<%= simple_form_for(@profile) do |f| %>
  <%# if profile.errors.any? %>
<!--      <div id="error_explanation">-->
<!--        <h2><%#= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>-->

<!--        <ul>-->
  <%# profile.errors.full_messages.each do |message| %>
<!--            <li><%#= message %></li>-->
  <%# end %>
<!--        </ul>-->
<!--      </div>-->
  <%# end %>
  <section class="hero is-fullheight">
    <div class="hero-body">
      <div class="container has-text-centered">
        <div class="column is-6 is-offset-3">
          <h3 class="title has-text-black">Create Profile</h3>
          <hr class="login-hr">
          <p class="subtitle has-text-black"><br> Complete the fields below to create profile</p>
          <div class="box">
            <form>
              <div class="columns">
                <div class="column">
                  <div class="field">
                    <div class="control">
                      <label class="label">First Name:</label>
                      <%= f.text_field :f_name, class: "input is-large" %>
                    </div>
                  </div>

                </div>
                <div class="column">
                  <div class="field">
                    <div class="control">
                      <label class="label">Last Name:</label>
                      <%= f.text_field :l_name, class: "input is-large" %>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="label">Role:</label>
                  <%= f.text_field :role, class: "input is-large" %>
                </div>
              </div>




              <div class="field">
                <div class="control">
                  <label class="label">About Me:</label>
                  <%= f.text_area :bio, class: "input is-large textarea", rows: "4" , require: 'required' %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="label">Profiler:</label>
                  <%= f.file_field :profile_pic, multiple: false, direct_upload: true %>
                </div>
              </div>



              SOCIAL (OPTIONAL)



              <div class="field">
                <div class="control">
                  <label class="label">Resume:</label>
                  <%= f.file_field :resume, multiple: false, direct_upload: true, :class => "ui pink button" %>
                </div>
              </div>

              <div class="field">
                <div class="control">
                  <label class="label">Facebook:</label>
                  <%= f.text_field :facebook, class: "input is-large" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <label class="label">Twitter:</label>
                  <%= f.text_field :twitter, class: "input is-large" %>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <label class="label">Instagram:</label>
                  <%= f.text_field :instagram, class: "input is-large" %>
                </div>
              </div>





              <%= f.submit "Create Profile", class: "button is-block is-info is-large is-fullwidth" %>


            </form>
          </div>


        </div>
      </div>
    </div>
  </section>
<% end %>




<script async type="text/javascript" src="../js/bulma.js"></script>


<%#= form_with(model: profile, local: true) do |f| %>
<%# if profile.errors.any? %>
<!--    <div id="error_explanation">-->
<!--      <h2><%#= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>-->

<!--      <ul>-->
<%# profile.errors.full_messages.each do |message| %>
<!--          <li><%#= message %></li>-->
<%# end %>
<!--      </ul>-->
<!--    </div>-->
<%# end %>
<!--  <section class="hero is-fullheight">-->
<!--    <div class="hero-body">-->
<!--      <div class="container has-text-centered">-->
<!--        <div class="column is-4 is-offset-4">-->
<!--          <h3 class="title has-text-black">Sign Up</h3>-->
<!--          <hr class="login-hr">-->
<!--          <p class="subtitle has-text-black">Create Profile <br> Complete the fields below to create profile</p>-->
<!--          <div class="box">-->
<!--            <form>-->
<!--              <div class="field">-->
<!--                <div class="control">-->
<!--                  <label class="label">First Name:</label>-->
<%#= f.text_field :f_name, class: "input is-large" %>
<!--                </div>-->
<!--              </div>-->
<!--              <div class="field">-->
<!--                <div class="control">-->
<!--                  <label class="label">Last Name:</label>-->
<%#= f.text_field :l_name, class: "input is-large" %>
<!--                </div>-->
<!--              </div>-->


<!--              <div class="field">-->
<!--                <div class="control">-->
<!--                  <label class="label">About Me:</label>-->
<%#= f.text_area :bio, class: "input is-large" %>
<!--                </div>-->
<!--              </div>-->

<!--              <div class="field">-->
<!--                <div class="control">-->
<!--                  <label class="label">Profiler:</label>-->
<%#= f.text_field :profile_pic, class: "input is-large" %>
<!--                </div>-->
<!--              </div>-->
<!--              <div class="field">-->
<!--                <div class="control">-->
<!--                  <label class="label">Role:</label>-->
<%#= f.text_field :role, class: "input is-large" %>
<!--                </div>-->
<!--              </div>-->




<%#= f.submit "Create Profile", class: "button is-block is-info is-large is-fullwidth" %>


<!--            </form>-->
<!--          </div>-->


<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </section>-->
<%# end %>




<!--<script async type="text/javascript" src="../js/bulma.js"></script>-->