<!-- Profile -->
<!--<section>-->
<!--  <div class="column ">-->
<!--    <div class="box">-->
<!--      <article class="media">-->
<!--        <div class="media-content">-->
<!--          <div class="content has-text-centered">-->
<!--            <div class="card">-->
<!--              <h3 class="title has-text-centered is-4"><%#= current_user.profile.f_name %> <%#= current_user.profile.l_name %></h3>-->
<!--              <div class="card-image">-->
<!--                <figure class="image is-2by1">-->
<%#= image_tag(current_user.profile.profile_pic) %>
<!--                </figure>-->
<!--              </div>-->
<!--              <div class="card-content  ">-->
<!--                <div class="content">-->
<!--                  <table class="table-profile">-->
<!--                    <tr>-->
<!--                      <th colspan="1"></th>-->
<!--                      <th colspan="2"></th>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>Userame:-->
<!--                      <td> @<%#= current_user.username %><br/>-->
<!--                      </td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>Role:</td>-->
<!--                      <td><%#= current_user.profile.role %></td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>Email:</td>-->
<!--                      <td><%#= current_user.email %></td>-->
<!--                    </tr>-->
<!--                  </table>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </article>-->
<!--    </div>-->
<!--  </div>-->
<!--</section>-->




<div class="card ">
  <h3 class="title has-text-centered is-4">@<%= current_user.username %></h3>
  <div class="card-image">
    <figure class="image container is-128x128 profile_image">
      <%= image_tag(current_user.profile.profile_pic) %>
    </figure>
  </div>
  <div class="card-content  ">

    <div class="content">
      <table class="table-profile">
        <tr>
          <th colspan="1"></th>
          <th colspan="2"></th>
        </tr>
        <tr>
          <td>Name:</td>
          <td><%= current_user.profile.f_name %> <%= current_user.profile.l_name %></td>
        </tr>
        <tr>
          <td>Role:</td>
          <td><%= current_user.profile.role %></td>
        </tr>
        <tr>
          <td>Email:</td>
          <td><%= current_user.profile.user.email %></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<!--      <br>-->
<!--    <div class="buttons is-centered">-->
<%# if @profile.facebook.present? %>
<%#= link_to @profile.facebook, class: "button is-dark", target: :_blank do %>
<!--              <span class="icon">-->
<!--                <i class="fa fa-facebook"></i>-->
<!--              </span>-->
<%# end %>
<%# end %>
<%# if @profile.twitter.present? %>
<%#= link_to @profile.twitter, class: "button is-dark", target: :_blank do %>
<!--              <span class="icon">-->
<!--                <i class="fa fa-twitter"></i>-->
<!--              </span>-->
<%# end %>
<%# end %>
<%# if @profile.instagram.present? %>
<%#= link_to @profile.instagram, class: "button is-dark", target: :_blank do %>
<!--              <span class="icon">-->
<!--                <i class="fa fa-instagram"></i>-->
<!--              </span>-->
<%# end %>
<%# end %>
