<!-- Profile -->
<section class="section" id="about">
  <div class="columns has-same-height">
    <div class="column is-one-quarter is-mobile">
      <!-- Profile -->
      <div class="card  ">
        <h3 class="title has-text-centered is-4">@<%= @profile.user.username %></h3>
        <div class="card-image">
          <figure class="image container is-128x128">
            <%= image_tag(@profile.profile_pic) %>
          </figure>
        </div>
        <div class="card-content  ">

          <div class="content">
            <table class="table-profile">
              <tr>
                <th colspan="1"></th>
                <th colspan="2"></th>
              </tr>
              <tr>
                <td>Name:</td>
                <td><%= @profile.f_name %> <%= @profile.l_name %></td>
              </tr>
              <tr>
                <td>Role:</td>
                <td><%= @profile.role %></td>
              </tr>
              <tr>
                <td>Email:</td>
                <td><%= @profile.user.email %></td>
              </tr>
            </table>
          </div>
          <div class="content is-medium has-text-centered">
            <h4 class="title has-text-black is-4">About Me</h4>
            <p class="has-text-dark"><%= @profile.bio %></p>
          </div>
          <br>
          <div class="buttons is-centered">
            <% if @profile.facebook.present? %>
              <%= link_to @profile.facebook, class: "button is-dark", target: :_blank do %>
              <span class="icon">
                <i class="fa fa-facebook"></i>
              </span>
              <% end %>
            <% end %>
            <% if @profile.twitter.present? %>
              <%= link_to @profile.twitter, class: "button is-dark", target: :_blank do %>
              <span class="icon">
                <i class="fa fa-twitter"></i>
              </span>
              <% end %>
            <% end %>
            <% if @profile.instagram.present? %>
              <%= link_to @profile.instagram, class: "button is-dark", target: :_blank do %>
              <span class="icon">
                <i class="fa fa-instagram"></i>
              </span>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-quarters is-mobile">
      <div class="section-heading has-text-centered ">
        <h3 class="title is-2">Portfolio</h3>
        <% if @profile.user.events.empty? %>
          <h4 class="subtitle is-5">Get out there! <br>Connect, Collaborate, Create</h4>
        <% else %>
          <h4 class="subtitle is-5">Have a look at what I've been up to:</h4>
        <% end %>
        <div class="columns features">
          <% @profile.user.events.each do |event| %>
            <div class="column is-4 modal-button" data-target="modal-card">
              <div class="card is-shady">
                <div class="card-image ">
                  <figure class="image is-4by3">
                    <%= image_tag(event.cover_photo) %>
                  </figure>
                </div>
                <div class="card-content">
                  <div class="content">
                    <%= event.title %>
                    <%= truncate(event.description, length: 150, separator: ' ')%>

                    <%#= event.description %>
                    <br>
                    <%= link_to 'Event', event, class: "button is-dark" %>


                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- End About Me Content -->

<section class="section">

    <div class="container">
      <div
        class="columns is-multiline"
        data-aos="fade-in"
        data-aos-easing="linear"
      >
        <div class="column is-12 about-me">
          <h1 class="title has-text-centered section-title">
            <%= @profile.f_name %>'s Resume
          </h1>
        </div>
        <div class="column is-10 has-text-centered is-offset-1">
          <%= link_to rails_blob_path(@profile.resume, disposition: 'preview'), target: :_blank, class: "button is-dark" do %>
              <span>
                <i class="fa fa-eye"> View Resume</i>
              </span>
          <% end %>
        </div>
        <div class="column is-10 has-text-centered is-offset-1">


          <%= link_to 'View Resume', class: "button is-dark", target: :_blank do %>
              <span>
                <i class="fa fa-download"> Download Resume</i>
              </span>
          <% end %>
        </div>
      </div>
    </div>
</section>


<%#= link_to 'View Resume', rails_blob_path(@profile.resume, disposition: 'preview'), target: :_blank, class: "button is-dark" %>
<!--      </div>-->
<!--      <div class="column is-10 has-text-centered is-offset-1">-->


<%#= link_to 'Download Resume', rails_blob_path(@profile.resume, disposition: 'attachment'), class: "button is-dark" %>

<%#= link_to 'Sign In', new_user_session_path, class: "button is-dark" %>


<%#= link_to document.filename, rails_blob_path(document, disposition: 'attachment') %>

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->
