<%= simple_form_for([@currentevent, @currentpost, @newcomment]) do |f| %>
  <h1>Current Event ID <%= @currentevent.id %></h1>
  <h1>Current Post ID <%= @currentpost.id %></h1>

  <%#= simple_form_for([@event, @post, @post.comments.build]) do |f| %>

<!--  <input type="hidden" id="post_Id" name="post_Id" value="<%# @post.id %>">-->

  <form>
    <div class="field">
      <div class="control">
        <label class="label">Content</label>
        <%= f.text_area :content, class: "input textarea is-warning", rows: "3" %>
      </div>
    </div>


    <%= f.submit "Comment", class: "button is-block is-warning is-fullwidth" %>


  </form>

<% end %>


