<section>
  <%# if @event.posts.empty? %>
  <!--      <h4 class="subtitle is-5">Get out there! <br>Connect, Collaborate, Create</h4>-->
  <%# else %>
  <!--      <h4 class="subtitle is-5">Have a goo at what I've been up to:</h4>-->
  <%# end %>
  <%# if @event.posts.count == 0 %>
  <!--      <div class="content has-text-centered">-->
  <!--        <h2>No Posts yet!</h2>-->
  <!--        <h3>Why not add one?</h3>-->
  <!--      </div>-->
  <%# end %>

  <% if user_signed_in? %>
    <article class="media box">
      <figure class="media-left">
        <p class="image is-64x64">
          <img src="https://bulma.io/images/placeholders/64x64.png">
        </p>
      </figure>
      <div class="media-content">
        <%= render 'posts/form' %>
      </div>
    </article>
  <% end %>



  <section class="section">
    <% @event.posts.each do |post| %>
      <div class="box">
        <div class="columns">
          <div class="column is-one-fifth">
            <div class="card-image">
              <figure class="image container is-128x128">
                <% if post.user.profile.profile_pic.present? %>
                  <%= image_tag(post.user.profile.profile_pic, class: 'is-rounded') %>
                <% end %>
              </figure>
            </div>
            <div class="card-content  ">
              <h3 class="title has-text-centered is-4">@<%= post.user.username %></h3>
              <small><%= post.user.profile.role %></small>
            </div>
          </div>

          <div class="column">
            <div class="section">
              <h3 class="title is-3 "><%= post.title %></h3>
              <div class="section">
                <%= truncate(post.content, length: 300, separator: ' ') %>
              </div>
            </div>
            <% post.comments.each do |comment| %>
              <div class="box">
                <p><%= comment.content %></p>
                <small>@<%= comment.user.username %></small>
              </div>

            <% end %>
            <%= simple_form_for([@event, post, @newcomment]) do |f| %>
              <%= f.text_area :content, class: "input textarea is-dark", rows: "2" %>
              <%= f.submit "Comment", class: "button is-block is-dark is-grouped-right" %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </section>
</section>
