<div class="column">
  <% @event.posts.each do |post| %>
    <div class="box">
      <article class="media">
        <div class="media-content">
          <div class="content">
            <div class="box">

              <p>P-id<%= post.id %></p>
              <p>E-id<%= post.event_id %></p>
              <%#= render 'comments/form' %>
              <p>P-id<%= post.content %></p>
            </div>
            <% post.comments.each do |comment| %>
              <article class="media">
                <div class="media-content">
                  <p><%= comment.content %></p>
                </div>
              </article>
            <% end %>
            <%= simple_form_for([@event, post, @newcomment]) do |f| %>
              <%= f.text_area :content, class: "input textarea is-dark", rows: "2" %>
              <%= f.submit "Comment", class: "button is-block is-dark is-grouped-right" %>
            <% end %>
          </div>
        </div>
      </article>
    </div>
  <% end %>


  <%#= render 'posts/form' %>
</div>
