<!-- Top -->
<section class="section" id="about">
  <div class="columns has-same-height">
    <div class="column is-mobile">

      <!-- Image -->
      <section class="hero">
        <figure class="cover">
          <%= image_tag(@event.cover_photo) %>
        </figure>
      </section>

      <!-- Event Info -->
      <div class="card  ">
        <h3 class="title has-text-centered is-4"><%= @event.title %></h3>
        <h3 class="title has-text-centered is-4"><%= @event.description %></h3>
        <h3 class="title has-text-centered is-4"><%= @event.roles %></h3>
        <h3 class="title has-text-centered is-4"><%= @members.count %></h3>
      </div>
    </div>
  </div>
  </div>
</section>

<section>
  <div class="columns">
    <div class="column is-one-quarter is-mobile">
      <div class="card  ">
        <h3 class="title has-text-centered is-4">Members</h3>
        <div class="card-content  ">
          <div class="content">
            <table class="table-profile">
              <thead>
              <tr>
                <th>Name</th>
                <th>Username</th>
                <th>Role</th>
              </tr>
              </thead>
              <tbody>
              <% @members.each do |group_member| %>

                <tr>
                  <td><%= group_member.user.profile.f_name %> <%= group_member.user.profile.l_name %></td>
                  <td><%= link_to '@' + group_member.user.username, group_member.user.profile %></td>

                  <td><%= group_member.user.profile.role %></td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

          <div class="buttons is-centered">
            <%= link_to "Members List", event_group_members_path(@event.event_group), class: "button is-dark" %>

            <%= link_to "Join Group", event_group_members_path(@event.event_group), class: "button is-dark" %>

          </div>
        </div>
      </div>
    </div>
    <div class="column is-three-quarters is-mobile">
      <%= render 'events/event_feed' %>
    </div>
  </div>
</section>
